<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/pergunta.png" height="150" width="150">
        <span class="text-white">Pergunte o que quiser</span>
    </a>
</nav>